* {
    /*border: 2px solid red;*/
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.hero {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.logo {
    margin-right: 50%;
    font-size: 24px;
    color: #f9faf8;
    padding: 3px;
}

.link, a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding: 3px;
    margin-right: 10px;
}
 h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
p {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
    margin-top: 10px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}   

.main {
    margin-right: 150px;
    width: 405px;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    
}

.placeholder {
    margin-bottom: 30px;
    height: 250px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    border-radius: 11%;
}
.three {
    color: blue;
}